<style>
  h1 {
    font-family: sans-serif;
  }
</style>


<h1>Hello <%= @user %></h1>

Nice to meet you, Welcome to Scriblix! We hope you enjoy the service.

<%= link_to "Get back on the website", root_url %>
