button {
  text-decoration: none;
  color: white;
}

.sidebar-button-UD {
  position: absolute;
  bottom: 70px;
  margin-left: 8px;
}

.sidebar-button-DESTR {
  position: absolute;
  bottom: 20px;
  margin-left: 8px;
}

.card-buttons {
  margin-top: 10px;
  display: table-cell;
  vertical-align: bottom;
  bottom: 20px;
  position: absolute;
  background-color: #07b733;
  border-color: #06d339;
  transition-duration: 1s;
  border-radius: 25px;
}

.card-buttons:hover {
  background-color: #06d339;
  border-color: #06d339;
  transition-duration: 1s;
}
