#sidebar-header {
  margin-top: 20px;
}

@media (min-width: 1200px) {
  .col-lg-3 {
    width: 22%;
  }
}

.card-body {
  background-color: white;
  color: black;

}
@media (min-width: 768px) {
  .col-sm-6 {
    width: 250px;
  }
}
.card-title {
  font-size: 25px;
}

.card {
  margin-left: 20px;
  margin-top: 70px;
  background-color: white;
  color: #5b5a5a;
  text-shadow: none;
  padding: 45px;
  height: 305px;
}

.cards-row {
  margin-left: 50px;
  margin-right: 80px;
}

.all-cards-row {
  width: 1250px;
}

.card-buttons {
  margin-top: 10px;
}





