#sidebar-header {
  margin-top: 20px;
}

@media (min-width: 1200px) {
  .col-lg-3 {
    width: 22%;
  }
}

.card-body {
  background-color: white;
  color: black;
  border-radius: 5px;
  border-radius: 2px blue;

}
@media (min-width: 768px) {
  .col-sm-6 {
    width: 250px;
  }
}
.card-title {
  margin-top: 5px;
  font-size: 25px;
  color: #5b5a5a ;
}

.card-dashboard {
  margin-left: 20px;
  background-color: white;
  color: #5b5a5a;
  text-shadow: none;
  padding: 20px;
  height: 275px;
  text-align: center;
}
.card-dashboard2 {
  border-radius: 5px;
  margin-left: 20px;
  background-color: white;
  color: #5b5a5a;
  text-shadow: none;
  padding: 20px;
  height: 350px;
/*  text-align: center;*/
  box-sizing: border-box;
}

.cards-row {
  margin-left: 50px;
  margin-right: 80px;
  margin-top: 50px;
  padding: 1px !important;
}

.all-cards-row {
  width: 1250px;
  margin-left: 150px;
  position: absolute;
  top: 50px;
}

.row {
  padding: none;
}

.big-card {
  width: 1068px;
  margin-left: -285px;

}

.big-card-row {
  padding-top: 10px !important;
  padding-left: 10px
}



