
.side-title {
  color: white;
  font-size: 20px;
  display: flex;
  align-content: center;
  margin-top: 10px;
  margin-left: 10px;
}

#sidebar {
  z-index: 1;
  width: 150px;
  height: 100vh;
  background-color: #222222;
  min-height: 100vh;
  position: fixed;
  top: 0px;
  left:0px;
}

.body-content {
  position: relative;
  display: flex;
}

.list-unstyled {
  padding-top: 75px;
}

.sidebar-item {
  border-bottom: 2px solid lightgrey;
  margin-bottom: 8px;
  margin-left: 20px;

}

.topleft-logo {
  font-size: 30px;
  margin-left: 20px;
  color: #4caf50;
}

.navbar-inverse {
  border-bottom: 3px solid #21ca21;
}
