 <div class="container">
  <h1 class="properties-title-new">Add properties to your listings</h1>
  <div class=".col-md-3 .offset-md-3">
   <div class="field-wrap">
    <%= form_for(Property.new, as: :property, url: properties_path(:property)) do |f| %>
    <div class="field-wrap">
      <%= f.text_field :prop_url, required: true, autofocus: true, placeholder: 'Property URL', class: 'form-listings' %>
    </div>
    <div class="field-wrap sub-button">
      <%= f.submit "Register", class: 'button-form' %>
    </div>
    <% end %>
  </div>
</div>
</div>

<div class="container">

  <div class="properties-row">
    <div class="row">
      <div class="col-xs-12 col-md-3 properties-row">
        <div class="wrapper">Classic package 20 properties for €46.00/mo. <br><p style="color:green;">access to 30 million potential buyers</p></div>
      </div>
      <div class="col-xs-12 col-md-3 properties-row">
        <div class="wrapper">Premium package 50 properties for €90.00/mo. <br><p style="color:green;"> access to 70 million potential buyers</p></div>
      </div>
      <div class="col-xs-12 col-md-3 properties-row">
        <div class="wrapper">Go pro package 100 properties for €125.00/mo. <br><p style="color:green;">access to 110 million potential buyers</p></div>
      </div>
      <div class="col-xs-12 col-md-3 properties-row">
        <div class="wrapper">Platinum package 200 properties for €200.00/mo. <br><p style="color:green;">access to 140 million potential buyers</p></div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->





<div class="container">
  <h2 align="center">Billing Frequency</h2>
  <div class="row text-center">

    <div class="col-xs-4">
      <div class="wrapper">Every 3 months <br><p style="color:green;">Save 0%</p></div>
    </div>

    <div class="col-xs-4">
      <div class="wrapper">Every 6 months <br><p style="color:green;">Save 15%</p></div>
    </div>

    <div class="col-xs-4">
      <div class="wrapper">Every 12 months <br><p style="color:green;">Save 20%</p></div>
    </div>
  </div>
</div>
