 <!-- clients
      ================================================== -->
      <section id="clients" class="s-clients">

        <div class="row my-row section-header" data-aos="fade-up">
          <div class="col-full">
            <h3 class="subhead">Portals</h3>
            <h1 class="display-2">Scriblix is proud to collaborate
             with these portals</h1>
          </div>
        </div> <!-- end section-header -->

        <div class="row my-row clients-outer" data-aos="fade-up">
          <div class="col-full">
            <div class="clients">

              <a href="#0" title="" class="clients__slide"><img src="assets/clients/ebay.jpg" /></a>
              <a href="#0" title="" class="clients__slide"><img src="assets/clients/globimmo-th.jpg" /></a>
              <a href="#0" title="" class="clients__slide"><img src="assets/clients/gumtree.jpg" /></a>
              <a href="#0" title="" class="clients__slide"><img src="assets/clients/homehippo-th.jpg" /></a>
              <a href="#0" title="" class="clients__slide"><img src="assets/clients/kyero-th.jpg" /></a>
              <a href="#0" title="" class="clients__slide"><img src="assets/clients/on-the-market.png" /></a>
              <a href="#0" title="" class="clients__slide"><img src="assets/clients/property-abroad.jpg" /></a>
              <a href="#0" title="" class="clients__slide"><img src="assets/clients/property_international.jpg" /></a>
              <a href="#0" title="" class="clients__slide"><img src="assets/clients/rightmove.png" /></a>
              <a href="#0" title="" class="clients__slide"><img src="assets/clients/zillow.jpg" /></a>
              <a href="#0" title="" class="clients__slide"><img src="assets/clients/zoopla.png" /></a>
              <a href="#0" title="" class="clients__slide"><img src="assets/clients/ukpd.jpg" /></a>

            </div> <!-- end clients -->
          </div> <!-- end col-full -->
        </div> <!-- end clients-outer -->

        <div class="row my-row clients-testimonials" data-aos="fade-up">
          <div class="col-full">
            <div class="testimonials">

              <div class="testimonials__slide">

                <p>We absolutely love Scriblix. They have saved us so much time we are now able to focus on what matters most to our core business.</p>

                <img src="assets/avatars/user-01.jpg" alt="Author image" class="testimonials__avatar">
                <div class="testimonials__info">
                  <span class="testimonials__name">Paul Smith</span>
                  <span class="testimonials__pos">Senior Sales, Jawitz Properties</span>
                </div>

              </div>

              <div class="testimonials__slide">

                <p>Saved us a lot of time and effort when trying to connect with international buyers.</p>

                <img src="assets/avatars/user-05.jpg" alt="Author image" class="testimonials__avatar">
                <div class="testimonials__info">
                  <span class="testimonials__name">Gijs Van Hoogs</span>
                  <span class="testimonials__pos">MD, Kolpa Makelaars</span>
                </div>

              </div>

              <div class="testimonials__slide">

                <p>We love using Scriblix because we can upload nationally and internationally at the same time.</p>

                <img src="assets/avatars/user-02.jpg" alt="Author image" class="testimonials__avatar">
                <div class="testimonials__info">
                  <span class="testimonials__name">David Renuadieu</span>
                  <span class="testimonials__pos">Sales, immobilier Lille</span>
                </div>

              </div>

            </div><!-- end testimonials -->

          </div> <!-- end col-full -->
        </div> <!-- end client-testimonials -->

      </section> <!-- end s-clients -->
