  <!-- home
      ================================================== -->
      <section>
       <div class="homepage-hero-module">
        <div class="video-container">
          <div class="title-container">
            <div class="headline">
              <h3 class="text-white text-thin">Scriblix</h3>
              <h5>Do you want your listings<br>
             uploaded around the globe? <br>
             then give us a try</h5>
            </div>
          </div>
          <div class="filter">

          </div>
          <video autoplay loop class="fillWidth" style="z-index: -1;">
            <source src="https://a1.phobos.apple.com/us/r1000/000/Features/atv/AutumnResources/videos/b3-1.mov" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="PATH_TO_WEBM" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
          </video>
                <div class="home-content__buttons">
        <a href="#contact" class="smoothscroll btn btn--stroke">
          Get a data feed
        </a>
        <a href="#about" class="smoothscroll btn btn--stroke">
          More About Us
        </a>
      </div>
          <!-- Image fallback if video is not supported by browser -->
          <div class="poster hidden" style="display: none">
            <img src="PATH_TO_JPEG" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="home-content__scroll">
      <a href="#about" class="scroll-link smoothscroll">
        <span>Scroll Down</span>
      </a>
    </div>

    <div class="home-content__line"></div>

  </div> <!-- end home-content -->


  <ul class="home-social">
    <li>
      <a href="www.facebook.com/Scriblix-2014364228775697/"><i class="fa fa-facebook" aria-hidden="true"></i><span>Facebook</span></a>
    </li>
    <li>
      <a href="https://twitter.com/scriblix7"><i class="fa fa-twitter" aria-hidden="true"></i><span>Twiiter</span></a>
    </li>
    <li>
      <a href="https://www.instagram.com/scriblix/"><i class="fa fa-instagram" aria-hidden="true"></i><span>Instagram</span></a>
    </li>
    <li>
      <a href="https://nl.pinterest.com/scriblix0881/pins/"><i class="fa fa-pinterest" aria-hidden="true"></i><span>Pintrest</span></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/company/scriblix/"><i class="fa fa-linkedin-square" aria-hidden="true"></i><span>Linkedin</span></a>
    </li>
  </ul>
  <!-- end home-social -->

</section> <!-- end s-home -->
