<!-- footer
      ================================================== -->
      <footer id= "s-footer">

        <div class="overlay">

          <div class="row my-row footer-main">

            <div class="col-six tab-full left footer-desc">

              <div class="logo.png">
                <%= image_tag "logo1.png" %>
              </div>
              Scriblix is designed and developed by passionate developers.
              We offer solutions to meet your requirments. Our system is designed to make data distribution simple.

            </div>

            <div class="col-six tab-full right footer-desc">
              <div style="margin: 20% 0;">



                <h4>Get notified</h4>

                <div class="subscribe-form">
                  <form id="mc-form" class="group" novalidate="true">
                    <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">
                    <input type="submit" name="subscribe" value="Subscribe">
                    <label for="mc-email" class="subscribe-message"></label>
                  </form>
                </div>
              </div>

            </div>

          </div> <!-- end footer-main -->


          <div class="row my-row footer-bottom">

            <div class="col-twelve">
              <div class="copyright">
                <span>© Copyright Scriblix 2018</span>
              </div>

              <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-arrow-up" style="color: white !important" aria-hidden="true"></i></a>
              </div>
            </div>

          </div> <!-- end footer-bottom -->


        </div>
      </footer> <!-- end footer -->
