 <!-- Order a feed
      ================================================== -->
      <section id='works' class="s-works">

        <div class="intro-wrap">

          <div class="row my-row section-header has-bottom-sep light-sep" data-aos="fade-up">
            <div class="col-full">
              <h3 class="subhead">Order a Feed</h3>
              <h1 class="display-2 display-2--light">We love what we do, order a feed from us so we can show you</h1>
            </div>
          </div> <!-- end section-header -->

          <%= render 'partials/form' %>
          <!-- end intro-wrap -->
        </div>
      </div>
    </div>
    <div align="center" class="payment">
      <div class="container" id="networks-wrapper" >
        <!-- <div class="networks row-bs4 justify-content-center"> -->
          <div class="network-item col col-sm-4 col-xs-6 classic col-lg-4">
            <h2 class="name">Classic</h2>
            <h1 class="price"><span class="mo-price">€46</span>/Monthly*</h1>
            <div class="listings">for 20 listings, billed annually</div>
            <div class="description">
              <div class="row">
                <br>
                <div class="item">
                  <span class="portals count">20</span>
                  <span class="portals-description">portals</span>
                </div>
              </div>
              <div class="row">
                <br>
                <div class="item">
                  <span class="countries count">20</span>
                  <span class="countries-description">countries</span>
                </div>
              </div>
              <div class="row">
                <br>
                <div class="item">
                  <span class="buyers count">10.7M</span> potential buyers
                </div>
              </div>
              <div class="row">
                <br>
                <div class="item">
                  Dashboard for your account
                </div>
              </div>
              <div class="row">
                <br>
                <div class="item">
                  Feed integration
                </div>
              </div>
              <div class="row">
                <br>
                <div class="item">
                  Payment by credit card
                </div>
              </div>
              <div class="row billedMonthlyToYearly">
                <br>
                <div class="item">
                  Billed quarterly to yearly
                </div>
              </div>
            </div>

            <br>
            <div class="button-wrapper">
              <button type="button" class="go classic" data-id="EUR-classic-1year-20">Go Classic</button>
            </div>
          </div><div class="network-item col col-sm-4 col-xs-6 premium col-lg-4">
            <h2 class="name">Premium</h2>
            <h1 class="price"><span class="mo-price">€72</span>/Monthly*</h1>
            <div class="listings">for 25 listings, billed annually</div>
            <div class="description">
              <div class="row">
                <br>
                <div class="item">
                  <span class="portals count">70</span>
                  <span class="portals-description">portals</span>
                </div>
              </div>
              <div class="row">
                <br>
                <div class="item">
                  <span class="countries count">45</span>
                  <span class="countries-description">countries</span>
                </div>
              </div>
              <div class="row">
                <br>
                <div class="item">
                  <span class="buyers count">95M</span> potential buyers
                </div>
              </div>
              <div class="row">
                <br>
                <div class="item">
                  Dashboard for your account
                </div>
              </div>
              <div class="row">
                <br>
                <div class="item">
                  Feed integration
                </div>
              </div>

              <div class="row">
                <br>
                <div class="item">
                  Payment by credit cards
                </div>
              </div>
              <div class="row billedMonthlyToYearly">
                <br>

                <div class="item">
                  Billed quarterly to yearly
                </div>
              </div>
            </div>
            <div class="button-wrapper">
              <br>
              <button type="button" class="go premium" data-id="EUR-premium-1year-20">Go Premium</button>
            </div>
            <div class="button-wrapper">

            </div>
          </div><div class="network-item col col-sm-4 col-xs-6 premium col-lg-4">
            <h2 class="name">Go Pro</h2>
            <h1 class="price"><span class="mo-price">€90</span>/Monthly*</h1>
            <div class="listings">for 35 listings, billed annually</div>
            <div class="description">
              <div class="row">
                <br>
                <div class="item">
                  <span class="portals count">109</span>
                  <span class="portals-description">portals</span>
                </div>
              </div>
              <div class="row">
                <br>
                <div class="item">
                  <span class="countries count">70</span>
                  <span class="countries-description">countries</span>
                </div>
              </div>
              <div class="row">
                <br>
                <div class="item">
                  <span class="buyers count">110M</span> potential buyers
                </div>
              </div>
              <div class="row">
                <br>
                <div class="item">
                  Dashboard for your account
                </div>
              </div>
              <div class="row">
                <br>
                <div class="item">
                  Feed integration
                </div>
              </div>

              <div class="row">
                <br>
                <div class="item">
                  Payment by credit cards
                </div>
              </div>
              <div class="row billedMonthlyToYearly">
                <br>

                <div class="item">
                  Billed quarterly to yearly
                </div>
              </div>
            </div>
            <div class="button-wrapper">
              <br>
              <button type="button" class="go premium" data-id="EUR-premium-1year-20">Go Pro</button>
            </div>

          </div>
        </div>

      </div>
    </div>




  </section>
