<!-- services
      ================================================== -->
      <section id='services' class="s-services">

        <div class="row my-row section-header has-bottom-sep" data-aos="fade-up">
          <div class="col-full">
            <h3 class="subhead">What We Do</h3>
            <h1 class="display-2">We’ve got everything you need to distribute your listings</h1>
          </div>
        </div> <!-- end section-header -->

        <div class="row my-row services-list block-1-2 block-tab-full">

          <div class="col-block service-item" data-aos="fade-up">
            <div class="service-icon">
              <i class="icon-paint-brush"></i>
            </div>
            <div class="service-text">
              <h3 class="h2">Where do you want your feeds to go?</h3>
              <p>Scriblix feeds are accepted by more portals, classifieds, verticals, social media, apps and other marketing platforms around the world than any other feed.
              </p>
            </div>
          </div>

          <div class="col-block service-item" data-aos="fade-up">
            <div class="service-icon">
              <i class="icon-group"></i>
            </div>
            <div class="service-text">
              <h3 class="h2">How it Works?</h3>
              <p>You order your feed by completing a simple form,
               We configure our software to collect your listings,
               We convert the listings into a data feed and
               You decide where you want the feed sent.
             </p>
           </div>
         </div>

         <div class="col-block service-item" data-aos="fade-up">
          <div class="service-icon">
            <i class="icon-megaphone"></i>
          </div>
          <div class="service-text">
            <h3 class="h2">What we aim to achieve</h3>
            <p>For our clients, we aim to generate as many leads as we can, with very minimal input from the client. We can help clients generate leads by distributing their listings/products to other major portals, ensuring that they get the right exposure! Which will in turn result in increased lead generation.
            </p>
          </div>
        </div>

        <div class="col-block service-item" data-aos="fade-up">
          <div class="service-icon">
            <i class="icon-earth"></i>
          </div>
          <div class="service-text">
            <h3 class="h2">What can go into our feed</h3>
            <p> We can feed just about anything including, properties, cars, boats & jobs. Contact us for more information?
            </p>
          </div>
        </div>

        <div class="col-block service-item" data-aos="fade-up">
          <div class="service-icon">
            <i class="icon-cube"></i>
          </div>
          <div class="service-text">
            <h3 class="h2">Benefits of our feed</h3>
            <p>We save our clients a lot of time, the more sites or other locations your feed is sent to, the more time you are saving and time is money. We make everything as automatic as possible. All you have to do is decide who is to receive the feed.
            </p>
          </div>
        </div>

        <div class="col-block service-item" data-aos="fade-up">
          <div class="service-icon"><i class="icon-lego-block"></i></div>
          <div class="service-text">
            <h3 class="h2">New Markets</h3>
            <p>It's one thing for you to get your listings seen in your own country, but quite another to get them seen by overseas buyers. In the current economic climate, it is increasingly important to attract buyers from other countries. However, the websites and portals that serve one country are often not very visible in another. So, to be seen by international buyers, for example, the listings need to be published on the portals most visible in those territories.
            </p>
          </div>
        </div>

      </div> <!-- end services-list -->

    </section> <!-- end s-services -->
