
    <!-- header
      ================================================== -->
      <header class="s-header">

        <div class="header-logo">
          <a class="site-logo" href="index.html">
            <%= image_tag "logo1.png" %>
          </a>
        </div>

        <nav class="header-nav">

          <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

          <div class="header-nav__content">
            <h3>Navigation</h3>

            <ul class="header-nav__list">
              <li class="current"><a class="smoothscroll"  href="#home" title="home">Home</a></li>
              <li><a class="smoothscroll"  href="#about" title="about">About</a></li>
              <li><a class="smoothscroll"  href="#services" title="services">Services</a></li>
              <li><a class="smoothscroll"  href="#works" title="works">Sign Up</a></li>
              <li><a class="smoothscroll"  href="#clients" title="clients">Portals</a></li>
              <li><a class="smoothscroll"  href="#contact" title="contact">Contact</a></li>
            </ul>

            <p>Scriblix has been developed by a team of developers who understand business. <a href='#0'></a>Our goal is to offer the best service possible on the market.</p>

            <ul class="header-nav__social">
              <li>
                <a href="www.facebook.com/Scriblix-2014364228775697/"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-pinterest"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin-square"></i></a>
              </li>
            </ul>

          </div> <!-- end header-nav__content -->

        </nav>  <!-- end header-nav -->

        <a class="header-menu-toggle" href="#">
          <span class="header-menu-text">Menu</span>
          <span class="header-menu-icon"></span>
        </a>

      </header> <!-- end s-header -->


    <!-- home
      ================================================== -->
      <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="assets/hero-bg.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

          <div class="row my-row home-content__main">

            <h3>Welcome to Scriblix</h3>

            <h1>
              Do you want your listings<br>
              uploaded around the globe? <br>
              then give us a try. <br>

            </h1>

            <div class="home-content__buttons">
              <a href="#contact" class="smoothscroll btn btn--stroke">
                Get a data feed
              </a>
              <a href="#about" class="smoothscroll btn btn--stroke">
                More About Us
              </a>
            </div>

          </div>

          <div class="home-content__scroll">
            <a href="#about" class="scroll-link smoothscroll">
              <span>Scroll Down</span>
            </a>
          </div>

          <div class="home-content__line"></div>

        </div> <!-- end home-content -->


        <ul class="home-social">
          <li>
            <a href="www.facebook.com/Scriblix-2014364228775697/"><i class="fa fa-facebook" aria-hidden="true"></i><span>Facebook</span></a>
          </li>
          <li>
            <a href="https://twitter.com/scriblix7"><i class="fa fa-twitter" aria-hidden="true"></i><span>Twiiter</span></a>
          </li>
          <li>
            <a href="https://www.instagram.com/scriblix/"><i class="fa fa-instagram" aria-hidden="true"></i><span>Instagram</span></a>
          </li>
          <li>
            <a href="https://nl.pinterest.com/scriblix0881/pins/"><i class="fa fa-pinterest" aria-hidden="true"></i><span>Pintrest</span></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/scriblix/"><i class="fa fa-linkedin-square" aria-hidden="true"></i><span>Linkedin</span></a>
          </li>
        </ul>
        <!-- end home-social -->

      </section> <!-- end s-home -->


    <!-- about
      ================================================== -->
      <section id='about' class="s-about">

        <div class="row my-row section-header has-bottom-sep" data-aos="fade-up">
          <div class="col-full">
            <h3 class="subhead subhead--dark">Hello There</h3>
            <h1 class="display-1 display-1--light">We Are Scriblix</h1>
          </div>
        </div> <!-- end section-header -->

        <div class="row my-row about-desc" data-aos="fade-up">
          <div class="col-full">
            <p>
              Created on an modular platform, Scriblix gives its users a flexible cost effective way to upload listings to XML portals around the globe, opening your properties to the biggest possible markets. We provide XML feeds to all major portals
            </p>
          </div>
        </div> <!-- end about-desc -->

        <div class="row my-row about-stats stats block-1-4 block-m-1-2 block-mob-full" data-aos="fade-up">

          <div class="col-block stats__col ">
            <div class="stats__count">350</div>
            <h5>Portals we Work With</h5>
          </div>
          <div class="col-block stats__col">
            <div class="stats__count">1505</div>
            <h5>Cups of Coffee</h5>
          </div>
          <div class="col-block stats__col">
            <div class="stats__count">109</div>
            <h5>Projects Completed</h5>
          </div>
          <div class="col-block stats__col">
            <div class="stats__count">102</div>
            <h5>Happy Clients</h5>
          </div>

        </div> <!-- end about-stats -->

        <div class="about__line"></div>

      </section> <!-- end s-about -->


    <!-- services
      ================================================== -->
      <section id='services' class="s-services">

        <div class="row my-row section-header has-bottom-sep" data-aos="fade-up">
          <div class="col-full">
            <h3 class="subhead">What We Do</h3>
            <h1 class="display-2">We’ve got everything you need to distribute your listings</h1>
          </div>
        </div> <!-- end section-header -->

        <div class="row my-row services-list block-1-2 block-tab-full">

          <div class="col-block service-item" data-aos="fade-up">
            <div class="service-icon">
              <i class="icon-paint-brush"></i>
            </div>
            <div class="service-text">
              <h3 class="h2">Where do you want your feeds to go?</h3>
              <p>Scriblix feeds are accepted by more portals, classifieds, verticals, social media, apps and other marketing platforms around the world than any other feed.
              </p>
            </div>
          </div>

          <div class="col-block service-item" data-aos="fade-up">
            <div class="service-icon">
              <i class="icon-group"></i>
            </div>
            <div class="service-text">
              <h3 class="h2">How it Works?</h3>
              <p>You order your feed by completing a simple form,
               We configure our software to collect your listings,
               We convert the listings into a data feed and
               You decide where you want the feed sent.
             </p>
           </div>
         </div>

         <div class="col-block service-item" data-aos="fade-up">
          <div class="service-icon">
            <i class="icon-megaphone"></i>
          </div>
          <div class="service-text">
            <h3 class="h2">What we aim to achieve</h3>
            <p>For our clients, we aim to generate as many leads as we can, with very minimal input from the client. We can help clients generate leads by distributing their listings/products to other major portals, ensuring that they get the right exposure! Which will in turn result in increased lead generation.
            </p>
          </div>
        </div>

        <div class="col-block service-item" data-aos="fade-up">
          <div class="service-icon">
            <i class="icon-earth"></i>
          </div>
          <div class="service-text">
            <h3 class="h2">What can go into our feed</h3>
            <p> We can feed just about anything including, properties, cars, boats & jobs. Contact us for more information?
            </p>
          </div>
        </div>

        <div class="col-block service-item" data-aos="fade-up">
          <div class="service-icon">
            <i class="icon-cube"></i>
          </div>
          <div class="service-text">
            <h3 class="h2">Benefits of our feed</h3>
            <p>We save our clients a lot of time, the more sites or other locations your feed is sent to, the more time you are saving and time is money. We make everything as automatic as possible. All you have to do is decide who is to receive the feed.
            </p>
          </div>
        </div>

        <div class="col-block service-item" data-aos="fade-up">
          <div class="service-icon"><i class="icon-lego-block"></i></div>
          <div class="service-text">
            <h3 class="h2">New Markets</h3>
            <p>It's one thing for you to get your listings seen in your own country, but quite another to get them seen by overseas buyers. In the current economic climate, it is increasingly important to attract buyers from other countries. However, the websites and portals that serve one country are often not very visible in another. So, to be seen by international buyers, for example, the listings need to be published on the portals most visible in those territories.
            </p>
          </div>
        </div>

      </div> <!-- end services-list -->

    </section> <!-- end s-services -->


    <!-- Order a feed
      ================================================== -->
      <section id='works' class="s-works">

        <div class="intro-wrap">

          <div class="row my-row section-header has-bottom-sep light-sep" data-aos="fade-up">
            <div class="col-full">
              <h3 class="subhead">Order a Feed</h3>
              <h1 class="display-2 display-2--light">We love what we do, order a feed from us so we can show you</h1>
            </div>
          </div> <!-- end section-header -->

          <%= render 'partials/form' %>
          <!-- end intro-wrap -->
        </div>
      </div>
    </div>
    <div align="center" class="payment">
      <div class="container" id="networks-wrapper" >
        <!-- <div class="networks row-bs4 justify-content-center"> -->
          <div class="network-item col col-sm-4 col-xs-6 classic col-lg-4">
            <h2 class="name">Classic</h2>
            <h1 class="price"><span class="mo-price">€46</span>/Monthly*</h1>
            <div class="listings">for 20 listings, billed annually</div>
            <div class="description">
              <div class="row">
                <br>
                <div class="item">
                  <span class="portals count">20</span>
                  <span class="portals-description">portals</span>
                </div>
              </div>
              <div class="row">
                <br>
                <div class="item">
                  <span class="countries count">20</span>
                  <span class="countries-description">countries</span>
                </div>
              </div>
              <div class="row">
                <br>
                <div class="item">
                  <span class="buyers count">10.7M</span> potential buyers
                </div>
              </div>
              <div class="row">
                <br>
                <div class="item">
                  Dashboard for your account
                </div>
              </div>
              <div class="row">
                <br>
                <div class="item">
                  Feed integration
                </div>
              </div>
              <div class="row">
                <br>
                <div class="item">
                  Payment by credit card
                </div>
              </div>
              <div class="row billedMonthlyToYearly">
                <br>
                <div class="item">
                  Billed quarterly to yearly
                </div>
              </div>
            </div>

            <br>
            <div class="button-wrapper">
              <button type="button" class="go classic" data-id="EUR-classic-1year-20">Go Classic</button>
            </div>
          </div><div class="network-item col col-sm-4 col-xs-6 premium col-lg-4">
            <h2 class="name">Premium</h2>
            <h1 class="price"><span class="mo-price">€72</span>/Monthly*</h1>
            <div class="listings">for 25 listings, billed annually</div>
            <div class="description">
              <div class="row">
                <br>
                <div class="item">
                  <span class="portals count">70</span>
                  <span class="portals-description">portals</span>
                </div>
              </div>
              <div class="row">
                <br>
                <div class="item">
                  <span class="countries count">45</span>
                  <span class="countries-description">countries</span>
                </div>
              </div>
              <div class="row">
                <br>
                <div class="item">
                  <span class="buyers count">95M</span> potential buyers
                </div>
              </div>
              <div class="row">
                <br>
                <div class="item">
                  Dashboard for your account
                </div>
              </div>
              <div class="row">
                <br>
                <div class="item">
                  Feed integration
                </div>
              </div>

              <div class="row">
                <br>
                <div class="item">
                  Payment by credit cards
                </div>
              </div>
              <div class="row billedMonthlyToYearly">
                <br>

                <div class="item">
                  Billed quarterly to yearly
                </div>
              </div>
            </div>
            <div class="button-wrapper">
              <br>
              <button type="button" class="go premium" data-id="EUR-premium-1year-20">Go Premium</button>
            </div>
            <div class="button-wrapper">

            </div>
          </div><div class="network-item col col-sm-4 col-xs-6 premium col-lg-4">
            <h2 class="name">Go Pro</h2>
            <h1 class="price"><span class="mo-price">€90</span>/Monthly*</h1>
            <div class="listings">for 35 listings, billed annually</div>
            <div class="description">
              <div class="row">
                <br>
                <div class="item">
                  <span class="portals count">109</span>
                  <span class="portals-description">portals</span>
                </div>
              </div>
              <div class="row">
                <br>
                <div class="item">
                  <span class="countries count">70</span>
                  <span class="countries-description">countries</span>
                </div>
              </div>
              <div class="row">
                <br>
                <div class="item">
                  <span class="buyers count">110M</span> potential buyers
                </div>
              </div>
              <div class="row">
                <br>
                <div class="item">
                  Dashboard for your account
                </div>
              </div>
              <div class="row">
                <br>
                <div class="item">
                  Feed integration
                </div>
              </div>

              <div class="row">
                <br>
                <div class="item">
                  Payment by credit cards
                </div>
              </div>
              <div class="row billedMonthlyToYearly">
                <br>

                <div class="item">
                  Billed quarterly to yearly
                </div>
              </div>
            </div>
            <div class="button-wrapper">
              <br>
              <button type="button" class="go premium" data-id="EUR-premium-1year-20">Go Pro</button>
            </div>

          </div>
        </div>

      </div>
    </div>




  </section>
    <!-- clients
      ================================================== -->
      <section id="clients" class="s-clients">

        <div class="row my-row section-header" data-aos="fade-up">
          <div class="col-full">
            <h3 class="subhead">Portals</h3>
            <h1 class="display-2">Scriblix is proud to collaborate
            partner up with these portals</h1>
          </div>
        </div> <!-- end section-header -->

        <div class="row my-row clients-outer" data-aos="fade-up">
          <div class="col-full">
            <div class="clients">

              <a href="#0" title="" class="clients__slide"><img src="assets/clients/ebay.jpg" /></a>
              <a href="#0" title="" class="clients__slide"><img src="assets/clients/globimmo-th.jpg" /></a>
              <a href="#0" title="" class="clients__slide"><img src="assets/clients/gumtree.jpg" /></a>
              <a href="#0" title="" class="clients__slide"><img src="assets/clients/homehippo-th.jpg" /></a>
              <a href="#0" title="" class="clients__slide"><img src="assets/clients/kyero-th.jpg" /></a>
              <a href="#0" title="" class="clients__slide"><img src="assets/clients/on-the-market.png" /></a>
              <a href="#0" title="" class="clients__slide"><img src="assets/clients/property-abroad.jpg" /></a>
              <a href="#0" title="" class="clients__slide"><img src="assets/clients/property_international.jpg" /></a>
              <a href="#0" title="" class="clients__slide"><img src="assets/clients/rightmove.png" /></a>
              <a href="#0" title="" class="clients__slide"><img src="assets/clients/zillow.jpg" /></a>
              <a href="#0" title="" class="clients__slide"><img src="assets/clients/zoopla.png" /></a>
              <a href="#0" title="" class="clients__slide"><img src="assets/clients/ukpd.jpg" /></a>

            </div> <!-- end clients -->
          </div> <!-- end col-full -->
        </div> <!-- end clients-outer -->

        <div class="row my-row clients-testimonials" data-aos="fade-up">
          <div class="col-full">
            <div class="testimonials">

              <div class="testimonials__slide">

                <p>We absolutely love Scriblix. They have saved us so much time we are now able to focus on what matters most to our core business.</p>

                <img src="assets/avatars/user-01.jpg" alt="Author image" class="testimonials__avatar">
                <div class="testimonials__info">
                  <span class="testimonials__name">Paul Smith</span>
                  <span class="testimonials__pos">Senior Sales, Jawitz Properties</span>
                </div>

              </div>

              <div class="testimonials__slide">

                <p>Saved us a lot of time and effort when trying to connect with international buyers.</p>

                <img src="assets/avatars/user-05.jpg" alt="Author image" class="testimonials__avatar">
                <div class="testimonials__info">
                  <span class="testimonials__name">Gijs Van Hoogs</span>
                  <span class="testimonials__pos">MD, Kolpa Makelaars</span>
                </div>

              </div>

              <div class="testimonials__slide">

                <p>We love using Scriblix because we can upload nationally and internationally at the same time.</p>

                <img src="assets/avatars/user-02.jpg" alt="Author image" class="testimonials__avatar">
                <div class="testimonials__info">
                  <span class="testimonials__name">David Renuadieu</span>
                  <span class="testimonials__pos">Sales, immobilier Lille</span>
                </div>

              </div>

            </div><!-- end testimonials -->

          </div> <!-- end col-full -->
        </div> <!-- end client-testimonials -->

      </section> <!-- end s-clients -->


    <!-- contact
      ================================================== -->
      <section id="contact" class="s-contact">

        <div class="overlay"></div>
        <div class="contact__line"></div>

        <div class="row my-row section-header" data-aos="fade-up">
          <div class="col-full">
            <h3 class="subhead">Contact Us</h3>
            <h1 class="display-2 display-2--light">Reach out for a feed or just say hello</h1>
          </div>
        </div>

        <div class="row my-row contact-content" data-aos="fade-up">

          <div class="contact-primary">

            <h3 class="h6">Send Us A Message</h3>

            <form name="contactForm" id="contactForm" method="post" action="" novalidate="novalidate">
              <fieldset>

                <div class="form-field">
                  <input name="contactName" type="text" id="contactName" placeholder="Your Name" value="" minlength="2" required="" aria-required="true" class="full-width">
                </div>
                <div class="form-field">
                  <input name="contactEmail" type="email" id="contactEmail" placeholder="Your Email" value="" required="" aria-required="true" class="full-width">
                </div>
                <div class="form-field">
                  <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="" class="full-width">
                </div>
                <div class="form-field">
                  <textarea name="contactMessage" id="contactMessage" placeholder="Your Message" rows="10" cols="50" required="" aria-required="true" class="full-width"></textarea>
                </div>
                <div class="form-field">
                  <button class="full-width btn--primary">Submit</button>
                  <div class="submit-loader">
                    <div class="text-loader">Sending...</div>
                    <div class="s-loader">
                      <div class="bounce1"></div>
                      <div class="bounce2"></div>
                      <div class="bounce3"></div>
                    </div>
                  </div>
                </div>

              </fieldset>
            </form>

            <!-- contact-warning -->
            <div class="message-warning">
              Something went wrong. Please try again.
            </div>

            <!-- contact-success -->
            <div class="message-success">
              Your message was sent, thank you!<br>
            </div>

          </div> <!-- end contact-primary -->

          <div class="contact-secondary">
            <div class="contact-info">

              <h3 class="h6 hide-on-fullwidth">Contact Info</h3>

              <div class="cinfo">
                <h5>Where to Find Us</h5>
                <p>
                  Overhoeksplein 2<br>
                  1031KS<br>
                  Amsterdam
                </p>
              </div>

              <div class="cinfo">
                <h5>Email Us At</h5>
                <p>
                  contact@scriblix.com<br>
                  info@scriblix.com
                </p>
              </div>

              <div class="cinfo">
                <h5>Call Us At</h5>
                <p>
                  Phone: (+44) 7578 268609<br>
                  Mobile: (+44) 555 0100<br>
                  Fax: (+44) 555 0101
                </p>
              </div>

              <ul class="contact-social">
                <li>
                  <a href="https://www.facebook.com/Scriblix-2014364228775697/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="https://twitter.com/scriblix7"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/scriblix/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="https://nl.pinterest.com/scriblix0881/pins/"><i class="fa fa-pinterest" aria-hidden="true"></i>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/company/scriblix/"><i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </li>
                  </ul> <!-- end contact-social -->

                </div> <!-- end contact-info -->
              </div> <!-- end contact-secondary -->

            </div> <!-- end contact-content -->

          </section> <!-- end s-contact -->


    <!-- footer
      ================================================== -->
      <footer id= "s-footer">

        <div class="overlay">

          <div class="row my-row footer-main">

            <div class="col-six tab-full left footer-desc">

              <div class="logo.png">
                <%= image_tag "logo1.png" %>
              </div>
              Scriblix is designed and developed by passionate developers.
              We offer solutions to meet your requirments. Our system is designed to make data distribution simple.

            </div>

            <div class="col-six tab-full right footer-desc">
              <div style="margin: 20% 0;">



                <h4>Get Notified</h4>
                <p>We are always striving to have the best system, please sign up to know when we will release updates.</p>

                <div class="subscribe-form">
                  <form id="mc-form" class="group" novalidate="true">
                    <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">
                    <input type="submit" name="subscribe" value="Subscribe">
                    <label for="mc-email" class="subscribe-message"></label>
                  </form>
                </div>
              </div>

            </div>

          </div> <!-- end footer-main -->


          <div class="row my-row footer-bottom">

            <div class="col-twelve">
              <div class="copyright">
                <span>© Copyright Scriblix 2018</span>
                <span>Site Template by <a href="https://www.colorlib.com/">Scriblix</a></span>
              </div>

              <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-arrow-up" style="color: white !important" aria-hidden="true"></i></a>
              </div>
            </div>

          </div> <!-- end footer-bottom -->
        </div>
      </footer> <!-- end footer -->


    <!-- photoswipe background
      ================================================== -->
      <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

          <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
          </div>

          <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
              <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
              "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
              "Zoom in/out"></button>
              <div class="pswp__preloader">
                <div class="pswp__preloader__icn">
                  <div class="pswp__preloader__cut">
                    <div class="pswp__preloader__donut"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
              <div class="pswp__share-tooltip"></div>
            </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
            "Next (arrow right)"></button>
            <div class="pswp__caption">
              <div class="pswp__caption__center"></div>
            </div>
          </div>

        </div>

      </div> <!-- end photoSwipe background -->


