<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <a class="navbar-name"> <%= link_to "Scriblix", dashboard_path, class:"logo-topbar" %> </a>
  </div>

  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
  </button>

  <ul class="nav navbar-nav navbar-left navbar-top-links">
    <li><a href="homes"><i class="fa fa-home fa-fw"></i> Website</a></li>
    <%= link_to destroy_user_session_path, method: :delete do %>
    <%= t(".sign_out", default: "Log out") %>
    <% end %>
  </ul>
</nav>


<div class="container">
  <div class="row text-center">
    <h3 style="margin-bottom: 30px;">Request Feed Set Up</h3>
    <div class="col-xs-12 text-center">
      <form id="sendXml" method="post" action="#" class="wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">

        <%= render 'partials/new_property' %>

        <div class="form-group">
          <label class="control-label">Select your plan</label>
          <select id="plan" name="plan">
            <option value="standard">Classic</option>
            <option value="standard">Premium</option>
            <option value="advance">Go Pro</option>
            <option value="advance">Platinum</option>
          </select>
        </div>

        <div class="form-group">
          <label class="control-label">Select your portal</label>
          <select id="selectCompany">
            <option value="1_Property">1 Property</option>
            <option value="A_Dream_Home_in_Spain">A Dream Home in Spain</option>
            <option value="A_Place_In_The_Sun">A Place In The Sun</option>
            <option value="Ancita">Ancita</option>
            <option value="Arkadia">Arkadia</option>
            <option value="Astrodoma">Astrodoma</option>
            <option value="Atrapanos">Atrapanos</option>
            <option value="Bellevue">Bellevue</option>
            <option value="Bovision">Bovision</option>
            <option value="CasaCasa.Be">CasaCasa.Be</option>
            <option value="Castle_Gallois_Properties">Castle Gallois Properties</option>
            <option value="Compare_Properties_Spain">Compare Properties Spain</option>
            <option value="Costa_Del_Home">Costa Del Home</option>
            <option value="Daft.ie">Daft.ie</option>
            <option value="Domaza">Domaza</option>
            <option value="EE24">EE24</option>
            <option value="En_Alquiler">En Alquiler</option>
            <option value="Facebook">Facebook</option>
            <option value="Financial_Times">Financial Times</option>
            <option value="Foremost_Property">Foremost Property</option>
            <option value="Fotocasa">Fotocasa</option>
            <option value="France_Property_Shop">France Property Shop</option>
            <option value="French_Property">French Property</option>
            <option value="French_Property_Links">French Property Links</option>
            <option value="Galarea">Galarea</option>
            <option value="Gateaway">Gateaway</option>
            <option value="Globimmo">Globimmo</option>
            <option value="Green_Acres">Green Acres</option>
            <option value="Gumtree">Gumtree</option>
            <option value="Habitaclia">Habitaclia</option>
            <option value="Hemnet">Hemnet</option>
            <option value="Holprop">Holprop</option>
            <option value="Huisenaanbod">Huisenaanbod</option>
            <option value="Idealista">Idealista</option>
            <option value="Imlix">Imlix</option>
            <option value="Immoabroad">Immoabroad</option>
            <option value="Immovlan.be">Immovlan.be</option>
            <option value="Immowelt">Immowelt</option>
            <option value="In_Spain_TV">In Spain TV</option>
            <option value="Interhomes">Interhomes</option>
            <option value="Italian_Houses">Italian Houses</option>
            <option value="Italy_Magazine">Italy Magazine</option>
            <option value="Juwei">Juwei</option>
            <option value="Key_4_Living">Key 4 Living</option>
            <option value="Kyero">Kyero</option>
            <option value="Lead_Galaxy">Lead Galaxy</option>
            <option value="Leading_Property">Leading Property</option>
            <option value="Listanza">Listanza</option>
            <option value="Luxury_Homes_Italia">Luxury Homes Italia</option>
            <option value="Luxury_Real_Estate">Luxury Real Estate</option>
            <option value="MasProfesional">MasProfesional</option>
            <option value="Mayfair">Mayfair</option>
            <option value="Mer_Et_Demeures">Mer Et Demeures</option>
            <option value="Mondinion.com">Mondinion.com</option>
            <option value="Move_Again">Move Again</option>
            <option value="MyHome.ie">MyHome.ie</option>
            <option value="Nardia">Nardia</option>
            <option value="Nova_Loca">Nova Loca</option>
            <option value="Novemo">Novemo</option>
            <option value="Nuroa">Nuroa</option>
            <option value="Okey_Spain">Okey Spain</option>
            <option value="On_The_Market">On The Market</option>
            <option value="Open_Estate">Open Estate</option>
            <option value="Overseas_Guides_Company">Overseas Guides Company</option>
            <option value="Pisos.com">Pisos.com</option>
            <option value="Prian">Prian</option>
            <option value="Property_Equality">Property Equality</option>
            <option value="Property_Finder">Property Finder</option>
            <option value="Property_International">Property International</option>
            <option value="Property_Links">Property Links</option>
            <option value="Property_Net_Spain">Property Net Spain</option>
            <option value="Property_Network">Property Network</option>
            <option value="Property_Showrooms">Property Showrooms</option>
            <option value="Rightmove">Rightmove</option>
            <option value="Rofo_(Commercial)">Rofo (Commercial)</option>
            <option value="Snow_Only">Snow Only</option>
            <option value="Shelterr">Shelterr</option>
            <option value="Spaanse_Droomhuizen">Spaanse Droomhuizen</option>
            <option value="Spain_Houses">Spain Houses</option>
            <option value="Spanish_Move">Spanish Move</option>
            <option value="Spanjekoophuis.nl">Spanjekoophuis.nl</option>
            <option value="Spitogatos">Spitogatos</option>
            <option value="Sunseeking_Europe">Sunseeking Europe</option>
            <option value="Sunterra">Sunterra</option>
            <option value="Target_Spanish_Properties">Target Spanish Properties</option>
            <option value="The_Move_Channel">The Move Channel</option>
            <option value="Think_Spain">Think Spain</option>
            <option value="Todo_Pisos">Todo Pisos</option>
            <option value="Tranio">Tranio</option>
            <option value="Trovit">Trovit</option>
            <option value="Tu_Casa">Tu Casa</option>
            <option value="Ubodo">Ubodo</option>
            <option value="Uw_Huis_in_Spanje">Uw Huis in Spanje</option>
            <option value="Venta_De_Pisos">Venta De Pisos</option>
            <option value="Vista">Vista</option>
            <option value="Vivados">Vivados</option>
            <option value="Vivastreet">Vivastreet</option>
            <option value="Ya_Encontre">Ya Encontre</option>
            <option value="Yazoo_Property">Yazoo Property</option>
            <option value="Your_Property_Site">Your Property Site</option>
            <option value="Yuphome">Yuphome</option>
            <option value="Zoopla">Zoopla</option>
            <option value="Others">Others</option>
          </select>
          <button id="addPortal" type="button">Add</button>
        </div>
      </div>


      <div class="form-group">

        <tbody>
          <th>Portal</th> <br>
          <th>Number of Properties</th>
        </tr>
      </tbody>
    </div>


    <!-- end form-group -->

    <!-- end form-group -->
  </form>
</div>
</div>





<!-- <div class="row"> -->
  <div class="container">
    <h1>Number of properties to publish on the network</h1>
    <div style="color:red;"><center>*€50 setup fee applies to all packages</center></div>


    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="wrapper">Classic package 20 properties for €46.00/mo. <br><p style="color:green;">access to 30 million potential buyers</p></div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="wrapper">Premium package 50 properties for €90.00/mo. <br><p style="color:green;"> access to 70 million potential buyers</p></div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="wrapper">Go pro package 100 properties for €125.00/mo. <br><p style="color:green;">access to 110 million potential buyers</p></div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="wrapper">Platinum package 200 properties for €200.00/mo. <br><p style="color:green;">access to 140 million potential buyers</p></div>
      </div>
    </div>
  </div>
  <!-- </div> -->





  <div class="container">
    <h2 align="center">Billing Frequency</h2>
    <div class="row text-center">

      <div class="col-xs-4">
        <div class="wrapper">Every 3 months <br><p style="color:green;">Save 0%</p></div>
      </div>

      <div class="col-xs-4">
        <div class="wrapper">Every 6 months <br><p style="color:green;">Save 15%</p></div>
      </div>

      <div class="col-xs-4">
        <div class="wrapper">Every 12 months <br><p style="color:green;">Save 20%</p></div>
      </div>
    </div>
  </div>



<div class="container">
 <div class="group-1">
      <button style="background: #febd0e; color: #fff;" id="submitXml" type="submit">Submit</button>
    </div>
</div>


