
<h1 style="color:white;">Order Confirmed</h1>
<ul align="center" style="color:white;">
  <li>Status: Confirmed</li>
  <li>Item: Package</li>
  <li>Amount: € 200,00</li>
<ul>

<button class="btn btn-primary card-buttons"><%= link_to "Back to Dashboard", dashboard_path%></button>
