// .button-new {
//     background: #febd0e;
//     color: #fff;
// }

.row {
  padding: 100px;
}


h1{
  font-size: 35px;
  padding: 50px;
  text-align: center;
}




.wrapper {
    background-color: #D3D3D3; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;

}

.group {
  margin-left: 539px;
}
